@import 'sfhStyle';

body {
    background-size: cover;
    background: black url("../images/background.png") no-repeat fixed center;
}

.reveal-modal {
    overflow: auto;
}

.light-text {
    color: $smoke;
}

.search-bar {
    position: relative;
    transition: all 0.5s ease;
    top: 33%;
    transform: translate(0, -50%);
}

.to-top {
    top: 70px !important;
}

.results {
    background: rgba(238, 238, 238, 0.75);
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.product-image {
    display: block;
    max-width: 85px;
    max-height: 85px;
    width: auto;
    height: auto;
}

#about-modal {
    .not-affiliated {
        font-size: small;
    }
}

.product-results {
    list-style-type: none;
    margin-left: 0;

    .product {
        height: 95px;
        padding: 5px;
        position: relative;
        cursor: pointer;
        transition: background 0.2s linear;

        .product-image {
            position: absolute;
            left: 5px;
            top: 5px;
        }

        .title {
            position: absolute;
            left: 90px;

            h3 {
                float: left;
                margin-right: 10px;
                margin-left: 5px;
                line-height: 30px;
            }

            .on-sale {
                line-height: 30px;
                font-size: x-large;
            }

            .category {
                font-size: smaller;
                position: absolute;
                left: 5px;
                top: 35px;
            }
        }

        .timestamp {
            float: right;
            margin-right: 5px;
            font-size: smaller;
            display: inline-block;
        }

        .prices {
            position: absolute;
            left: 100px;
            top: 60px;
        }
    }

    .product:hover {
        background: $info-color;
    }
}

.product-modal {
    .header {
        height: 85px;

        .product-image {
            float: left;
            margin-right: 10px;
        }

        .title {
            h2 {
                margin: 0;
                padding: 0;
                display: inline-block;
                float: left;
                line-height: 40px;
            }

            .category {
                position: absolute;
                top: 68px;
                font-size: smaller;
                left: 125px;
            }
        }

        .external-link {
            font-size: x-large;
            position: absolute;
            left: 125px;
            top: 85px;
        }
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .time-info {
        font-size: smaller;
    }

    canvas {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .line-legend {
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        width: 405px;
        text-align: center;

        li {
            width: 200px;
            float: left;
        }
    }
}

.prices {
    .price {
        font-family: "Consolas", "Menlo", "Courier", monospace;
        font-size: large;
        color: $success-color;
        float: left;
        min-width: 150px;
        margin-right: 15px;
        font-weight: bold;
    }

    .latest {
        font-weight: bold;
    }

    .premium {
        color: $warning-color;
        float: left;
    }

    .discounted {
        text-decoration: line-through;
        font-weight: normal;
    }

    .discount {
        font-size: x-large;
        color: $primary-color;

        .percentage {
            font-weight: bold;
        }
    }
}

.premium-star {
    color: #ffbf45;
}

.on-sale {
    color: $primary-color;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10px;
    float: left;
    line-height: 40px;
}